<!doctype html>
<html>
    <head>
        <style>
        table, th, td {
          border: 1px solid black;
        }
        
        th, td {
          padding: 10px;
        }
        #submit {
    width: 15em;  height: 3em;
    
 /* background: #0c0 url(image) 0 0 no-repeat; */
}
        </style>
        </head>
    <body>
       <center>
       <!-- <table> -->
      <br></br>
      <br></br>
      <br></br>
      

       <h2>Trades on {{ date}}</h2>
      <table >
        <tr>
            <th>Time</th>
            <th>Instrument</th>
            <th>Transaction</th>
            <th>Price</th>
          </tr>
         {% for trade in trades %}
            <tr>
               <td> {{ trade['order_timestamp'] }} </td>
               <td> {{ trade['tradingsymbol'] }} </td>
               <td> {{ trade['transaction_type'] }} </td>
               <td> {{ trade['average_price'] }} </td>
            </tr>
         {% endfor %}
      </table>
      <br></br>


      <!-- {% if exit != 'exit' %} -->
      <form action="" method="POST"
      onSubmit="return confirm('Are you sure you wish to exit all open positions?');">
        <!-- <input name="text_box"> -->
        <input id="submit" type="submit" value="Exit all positions"
        >
      </form>
      {% endif %}
    </center>
   </body>
</html>